.lesson_07_page_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 80px;
  flex: 1;
  gap: 80px;
  background-color: rgb(243, 44, 157);
  font-size: 50px;
  font-weight: bold;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  border-radius: 30px;
  background-color: rgb(243, 44, 157);
  border: 10px solid white;
  width: 1000px;
  height: 600px;
  padding: 40px;
}
