.input-wrapper {

}

.input-label {

}

.input-component {
  width: 100%;
  height: 50px;
  border: 1px solid #3f3f3f;
  border-radius: 4px;
  padding: 12px;
  outline: none;
}

.input-component: {

}
