

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 590px;
  height: 450px;
  padding: 60px;
  gap: 30px;
  border: 1px solid black;
  background: white;
}

.text {
    width: 471px;
    font-size: 26px;
    color: black;
}

.input_form {
  display: flex;
  flex-direction: column;
  width: 470px;
  height: 78px;
  gap: 4px;
  font-size: 16px;
}

.input {
  width: 470px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid black;
  font-size: 16px;
}
.login_button {
  width: 470px;
  height: 70px;
  background-color: #1f27f5;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 4px;
}
