.hw_06 {
  display: flex;
  flex: 1;
  flex-direction: inherit;
  background-image: url("https://64.media.tumblr.com/185367bc8d5506faf8352e70298a906c/e03e44af83aff848-4b/s1280x1920/d6f89e0499a33ce0ad117853a2739e455aa956f0.gifv");
  background-size: cover;
  justify-content: space-around;
  margin: 0;
}

.card_car {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 200px;
  background: rgb(2, 16, 142);
  font-size: 25px;
  font-weight: bold;
  color: rgb(246, 246, 247);;
  padding: 20px;
  gap: 20px;
  margin: 70px;
  border: 4px solid rgb(1, 1, 69);
}
